<?xml version='1.0' encoding='utf-8'?><widget id="com.tatarskieotkr.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"><name>TatarskieOtkritki</name><description>    TatarskieOtkritki</description><author email="info@seotlt.ru" href="http://seotlt.ru">    Me</author><icon src="icon.png" /><content src="index.html" /><access origin="*" /><preference name="phonegap-version" value="3.0.0" /><gap:plugin name="org.apache.cordova.file" /></widget>